/* Roots and imports */

/* Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --main-color:rgb(252, 245, 233);
  --second-color:rgb(045,042,131);
  --third-color:rgb(152,219,229);
  --fourth-color:rgb(254,179,173);
  --max-width: 1200px;
}

*{
  box-sizing: border-box;
}

/* Elements */
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4rem;
  color: var(--second-color);
  background-color: var(--main-color);
  text-align: justify;
  min-height: 100dvh;
}
main{
  padding: 2rem 1rem;
}
h1, h2, h3, h4{
  font-style: italic;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
h1, h2{
  text-align: center;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.25rem;
}
h4{
  font-size: 1.15rem;
}
a{
  color: var(--second-color);
}
a:hover:not(.logo-a){
  color: var(--main-color);
  background-color: var(--second-color);
}
nav#arriba{
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  justify-content: space-evenly;
  min-height: 2.7rem;
  flex-wrap: wrap;
}
nav#arriba, footer{
  display: flex;
  align-items: center;
  background-color: var(--second-color);
  width: 100%;
}
nav#arriba > a, nav#arriba > div a{
  color: white;
  text-decoration: none;
  padding: 0.625rem;
}
nav#arriba > a:hover{
  font-size: 20px;
  color: var(--fourth-color);
}
nav#arriba > div > a:hover{
  color: var(--fourth-color);
}
nav#arriba > div div a:hover{ 
  background-color: var(--fourth-color);
  color: var(--second-color);
}
img{
  user-select: none;
}
img.logo{
  max-height: 8rem;
}
  /* ------------- Tabla ------------- */
table, td, th{
  border-collapse: collapse;
  border: 1px solid var(--second-color);
}
table{
  margin: 1rem;
}
td, th{
  background-color: var(--third-color);
  padding: 0.5rem;
}

  /* ------------- Formulario ------------- */
form{
  display: flex;
  justify-content: center;
  /* padding: 1.25rem; */
}
legend{
  padding: 0.25rem 1rem;
}
legend, fieldset{
  border: 1px solid var(--second-color);
  border-radius: 0.75rem;
}
legend, button{
  background-color: var(--fourth-color);
}
button{
  color: var(--second-color);
  transition: transform 0.1s;
}
button:hover{
  box-shadow: 0rem 0.25rem 0.35rem 0rem lightslategray;
  background-color: var(--second-color);
  color: white;
  cursor: pointer;
  /* filter: brightness(1.5); */
  transform: translateY(-0.2rem);
}
fieldset{
  background-color: var(--third-color);
  padding: 1rem;
}
label{
  margin-bottom: 0.3rem;
}
input[type="text"], textarea{
  background-color: var(--main-color);
  border: 1px solid var(--second-color);
  padding: 0.5rem;
  border-radius: 0.35rem;
  /* width: 100%; */
}
input:hover, textarea:hover{
  border: 1px solid var(--fourth-color);
}
input, textarea, button{
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}
  /* ------------------------------------- */
footer{
  justify-content: center;
  color: white;
  height: 2.5rem;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  /* position: fixed;
  bottom: 0; */
}

/* Identifiers */
#cabecera{
  background-image: linear-gradient(to right, var(--fourth-color) , var(--second-color));
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 8rem;
}
#cabecera > h1{
  color: var(--main-color);
  text-shadow: 2px 2px 9px;
  margin: auto;
  width: 200px;
}

/* Classes */
.abajo, p, h1, h2, h3, h4{
  margin: 1rem;
}
.abajo{
  text-align: center;
}
.cursiva{
  font-style: italic;
}
.negrita{
  font-weight: bold;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  margin-top: -1px;
  margin-left: -23px;
  padding-top: 2px;
  width: 6.9rem;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: var(--second-color);
  text-align: center;
  z-index: 101;
}
.ocultar{
  display: none !important;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
.usericon{
  height: 2.25rem;
}
.usericonhover{
  height: 2.5rem;
  content: url("../imagen/unregisterediconhover.png");
}
.logo-a{
  margin: auto;
}
.form-group{
  margin-bottom: 0.88rem;
  display: flex;
  flex-direction: column;
}
.radio-finalidad{
  margin: 0.59rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.button-container{
  margin-top: 1.2rem;
  display: flex;
  gap: 0.65rem;
}
.navbarflotante{
  position: fixed;
  top: 0;
  z-index: 100;
}
.espacio{
  margin-top: 2.7rem;
}

/* Media Query */

@media (max-width: 760px){ /* mientras el ancho sea menor a 760px */

    img{
      max-width: 100%;
    }
    
}
